In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [2]:
train=pd.read_csv('hrtrain.csv')
train.head(1)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3,1

In [3]:
test=pd.read_csv('hrtest.csv')
test.head(1)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at
0,kkst917493670,Bràthair.,"My first film, of many to come. Trying to purs...",7000.0,brathair,False,US,USD,1449619185,1449619185,1446002581,1446159585

In [4]:
train.shape

(108129, 14)

In [5]:
train.isnull().sum()

project_id               0
name                     1
desc                     8
goal                     0
keywords                 0
disable_communication    0
country                  0
currency                 0
deadline                 0
state_changed_at         0
created_at               0
launched_at              0
backers_count            0
final_status             0
dtype: int64

In [6]:
test.shape

(63465, 12)

In [7]:
test.isnull().sum()

project_id               0
name                     0
desc                     4
goal                     0
keywords                 0
disable_communication    0
country                  0
currency                 0
deadline                 0
state_changed_at         0
created_at               0
launched_at              0
dtype: int64

In [8]:
train.currency.unique()

array(['USD', 'GBP', 'CAD', 'AUD', 'NZD', 'EUR', 'SEK', 'NOK', 'DKK'], dtype=object)

In [9]:
#currency mapping for train
train=train[(train["currency"] == "USD") | (train["currency"] == "GBP") | (train["currency"] == "CAD") | (train["currency"] == "AUD") | (train["currency"] == "NZD") | (train["currency"] == "EUR") | (train["currency"] == "SEK") | (train["currency"] == "NOK") | (train["currency"] == "DKK")]

mapping_dictionary2 = {"currency":{ "USD": 1, "GBP": 2, "CAD": 3, "AUD": 4, "NZD": 5, "EUR": 6, "SEK": 7, "NOK": 8, "DKK": 9}}
train = train.replace(mapping_dictionary2)

In [10]:
train.country.unique()

array(['US', 'GB', 'CA', 'AU', 'NZ', 'NL', 'SE', 'IE', 'NO', 'DK', 'DE'], dtype=object)

In [11]:
#country mapping for train
train=train[(train["country"] == "US") | (train["country"] == "GB") | (train["country"] == "CA") | (train["country"] == "AU") | (train["country"] == "NZ") | (train["country"] == "NL") | (train["country"] == "SE") | (train["country"] == "IE") | (train["country"] == "NO") | (train["country"] == "DK") | (train["country"] == "DE")]

mapping_dictionary2 = {"country":{ "US": 1, "GB": 2, "CA": 3, "AU": 4, "NZ": 5, "NL": 6, "SE": 7, "IE":8,"NO": 9, "DK": 10, "DE": 11}}
train = train.replace(mapping_dictionary2)

In [12]:
test.currency.unique()

array(['USD', 'EUR', 'GBP', 'AUD', 'NOK', 'SEK', 'DKK', 'CAD', 'NZD',
       'CHF', 'HKD', 'SGD', 'MXN'], dtype=object)

In [13]:
#currency mapping for test
test=test[(test["currency"] == "USD") | (test["currency"] == "GBP") | (test["currency"] == "CAD") | (test["currency"] == "AUD") | (test["currency"] == "NZD") | (test["currency"] == "EUR") | (test["currency"] == "SEK") | (test["currency"] == "NOK") | (test["currency"] == "DKK") | (test["currency"] == "SGD") | (test["currency"] == "MXN") | (test["currency"] == "CHF") | (test["currency"] == "HKD") ]

mapping_dictionary2 = {"currency":{ "USD": 1, "GBP": 2, "CAD": 3, "AUD": 4, "NZD": 5, "EUR": 6, "SEK": 7, "NOK": 8, "DKK": 9, "SGD": 10, "MXN": 11, "CHF": 12, "HKD": 13}}
test = test.replace(mapping_dictionary2)

In [14]:
test.country.unique()

array(['US', 'IT', 'GB', 'AU', 'NO', 'NL', 'SE', 'ES', 'DK', 'CA', 'DE',
       'IE', 'FR', 'NZ', 'CH', 'BE', 'AT', 'LU', 'HK', 'SG', 'MX'], dtype=object)

In [15]:
#country mapping for test
test=test[(test["country"] == "US") | (test["country"] == "GB") | (test["country"] == "CA") | (test["country"] == "AU") | (test["country"] == "NZ") | (test["country"] == "NL") | (test["country"] == "SE") | (test["country"] == "IE") | (test["country"] == "NO") | (test["country"] == "DK") | (test["country"] == "DE") | (test["country"] == "IT") | (test["country"] == "ES") | (test["country"] == "FR") | (test["country"] == "CH") | (test["country"] == "BE") | (test["country"] == "AT") | (test["country"] == "LU") | (test["country"] == "HK") | (test["country"] == "SG") | (test["country"] == "MX")]

mapping_dictionary2 = {"country":{ "US": 1, "GB": 2, "CA": 3, "AU": 4, "NZ": 5, "NL": 6, "SE": 7, "IE":8,"NO": 9, "DK": 10, "DE": 11, "IT": 12, "ES": 13, "FR": 14, "CH": 15, "BE": 16, "AT": 17, "LU": 18, "HK": 19, "SG": 20, "MX": 21}}
test = test.replace(mapping_dictionary2)

In [16]:
train.shape

(108129, 14)

In [17]:
test.shape

(63465, 12)

In [18]:
train['state_changed_at'] = pd.to_datetime(train['state_changed_at'],unit='s')
train['created_at'] = pd.to_datetime(train['created_at'],unit='s')
train['deadline'] = pd.to_datetime(train['deadline'],unit='s')
train['launched_at'] = pd.to_datetime(train['launched_at'],unit='s')

In [19]:
#month = lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S" ).month
#train['launched_at_month'] = train['launched_at'].map(month)

In [20]:
train['launched_month'] = pd.DatetimeIndex(train['launched_at']).month

In [21]:
train['launched_year'] = pd.DatetimeIndex(train['launched_at']).year

In [22]:
train.launched_year.unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [23]:
train.head(1)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status,launched_month,launched_year
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,1,1,2009-05-03 06:59:59,2009-05-03 07:00:17,2009-04-24 19:15:07,2009-04-24 19:52:03,3,1,4,2009

In [24]:
test['state_changed_at'] = pd.to_datetime(test['state_changed_at'],unit='s')
test['created_at'] = pd.to_datetime(test['created_at'],unit='s')
test['deadline'] = pd.to_datetime(test['deadline'],unit='s')
test['launched_at'] = pd.to_datetime(test['launched_at'],unit='s')

In [25]:
test['launched_month'] = pd.DatetimeIndex(test['launched_at']).month

In [26]:
test['launched_year'] = pd.DatetimeIndex(test['launched_at']).year

In [27]:
test.head(1)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,launched_month,launched_year
0,kkst917493670,Bràthair.,"My first film, of many to come. Trying to purs...",7000.0,brathair,False,1,1,2015-12-08 23:59:45,2015-12-08 23:59:45,2015-10-28 03:23:01,2015-10-29 22:59:45,10,2015

In [28]:
train = pd.concat([train, pd.get_dummies(train['disable_communication'])], axis=1);
test = pd.concat([test, pd.get_dummies(test['disable_communication'])], axis=1);

In [29]:
train.columns

Index([           'project_id',                  'name',
                        'desc',                  'goal',
                    'keywords', 'disable_communication',
                     'country',              'currency',
                    'deadline',      'state_changed_at',
                  'created_at',           'launched_at',
               'backers_count',          'final_status',
              'launched_month',         'launched_year',
                         False,                    True],
      dtype='object')

In [30]:
#diffference between launched and state changed in no. of days
#train['launched_statechanged_diff'] = (train.state_changed_at - train.launched_at)/ np.timedelta64(1, 'D')

In [31]:
#train.head()

In [32]:
#diffference between launched and created in no. of days
#train['launched_created_diff'] = (train.created_at - train.launched_at)/ np.timedelta64(1, 'D')

In [33]:
#train['launched_created_diff'].value_counts(sort=True)

In [34]:
#diffference between state_changed and deadline in no. of days
#train['deadline_state_changed_diff'] = (train.deadline - train.state_changed_at)/ np.timedelta64(1, 'D')

In [35]:
#train['deadline_state_changed_diff'].value_counts(sort=True)

In [36]:
#diffference between deadline and launched in no. of days
#train['deadline_launched_diff'] = (train.deadline - train.launched_at)/ np.timedelta64(1, 'D')
#test['deadline_launched_diff'] = (test.deadline - test.launched_at)/ np.timedelta64(1, 'D')

In [37]:
train['deadline_launched_diff'] = (train['deadline'] - train['launched_at']).dt.days
test['deadline_launched_diff'] = (test['deadline'] - test['launched_at']).dt.days

In [38]:
train.head()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status,launched_month,launched_year,False,True,deadline_launched_diff
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,1,1,2009-05-03 06:59:59,2009-05-03 07:00:17,2009-04-24 19:15:07,2009-04-24 19:52:03,3,1,4,2009,1,0,8
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,1,1,2009-05-15 23:10:00,2009-05-16 00:00:18,2009-04-28 23:10:24,2009-04-29 03:26:32,2,0,4,2009,1,0,16
2,kkst183622197,Mr. Squiggles,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,False,1,1,2009-05-22 21:26:00,2009-05-22 21:30:18,2009-05-12 21:26:53,2009-05-12 21:39:58,0,0,5,2009,1,0,9
3,kkst597742710,Help me write my second novel.,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,False,1,1,2009-05-29 00:09:00,2009-05-29 00:15:21,2009-04-29 00:09:55,2009-04-29 00:58:50,18,1,4,2009,1,0,29
4,kkst1913131122,Support casting my sculpture in bronze,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,False,1,1,2009-05-31 11:38:00,2009-05-31 11:45:17,2009-05-01 11:38:34,2009-05-01 12:22:21,1,0,5,2009,1,0,29

In [39]:
train.isnull().sum()

project_id                0
name                      1
desc                      8
goal                      0
keywords                  0
disable_communication     0
country                   0
currency                  0
deadline                  0
state_changed_at          0
created_at                0
launched_at               0
backers_count             0
final_status              0
launched_month            0
launched_year             0
False                     0
True                      0
deadline_launched_diff    0
dtype: int64

In [40]:
train.columns

Index([            'project_id',                   'name',
                         'desc',                   'goal',
                     'keywords',  'disable_communication',
                      'country',               'currency',
                     'deadline',       'state_changed_at',
                   'created_at',            'launched_at',
                'backers_count',           'final_status',
               'launched_month',          'launched_year',
                          False,                     True,
       'deadline_launched_diff'],
      dtype='object')

In [41]:
train.head(1)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status,launched_month,launched_year,False,True,deadline_launched_diff
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,1,1,2009-05-03 06:59:59,2009-05-03 07:00:17,2009-04-24 19:15:07,2009-04-24 19:52:03,3,1,4,2009,1,0,8

In [42]:
train1=train[['goal',False,'country','currency','launched_month','launched_year','deadline_launched_diff','final_status']]

In [43]:
train.dtypes

project_id                        object
name                              object
desc                              object
goal                             float64
keywords                          object
disable_communication               bool
country                            int64
currency                           int64
deadline                  datetime64[ns]
state_changed_at          datetime64[ns]
created_at                datetime64[ns]
launched_at               datetime64[ns]
backers_count                      int64
final_status                       int64
launched_month                     int64
launched_year                      int64
False                              uint8
True                               uint8
deadline_launched_diff             int64
dtype: object

In [44]:
test.columns

Index([            'project_id',                   'name',
                         'desc',                   'goal',
                     'keywords',  'disable_communication',
                      'country',               'currency',
                     'deadline',       'state_changed_at',
                   'created_at',            'launched_at',
               'launched_month',          'launched_year',
                          False,                     True,
       'deadline_launched_diff'],
      dtype='object')

In [45]:
test.head(1)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,launched_month,launched_year,False,True,deadline_launched_diff
0,kkst917493670,Bràthair.,"My first film, of many to come. Trying to purs...",7000.0,brathair,False,1,1,2015-12-08 23:59:45,2015-12-08 23:59:45,2015-10-28 03:23:01,2015-10-29 22:59:45,10,2015,1,0,40

In [46]:
test1=test[['goal',False,'country','currency','launched_month','launched_year','deadline_launched_diff']]

In [47]:
train1.shape

(108129, 8)

In [48]:
test1.shape

(63465, 7)

In [49]:
X=train1.drop('final_status',axis=1)
y=train1['final_status']

In [50]:
from sklearn.cross_validation import train_test_split

C:\Users\Debadri\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [52]:
import lightgbm as lgb

In [53]:
lgb=lgb.LGBMClassifier()

In [54]:
lgb.fit(X_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        learning_rate=0.1, max_depth=-1, min_child_samples=20,
        min_child_weight=0.001, min_split_gain=0.0, n_estimators=100,
        n_jobs=-1, num_leaves=31, objective=None, random_state=None,
        reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=200000, subsample_freq=1)

In [55]:
pred=lgb.predict(X_test)

In [56]:
from sklearn.metrics import classification_report,confusion_matrix

In [57]:
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          0       0.71      0.93      0.80     24230
          1       0.56      0.18      0.27     11453

avg / total       0.66      0.69      0.63     35683

In [58]:
import lightgbm as lgb

In [59]:
lgb=lgb.LGBMClassifier()

In [60]:
lgb.fit(train1.drop('final_status',axis=1),train1['final_status'])

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        learning_rate=0.1, max_depth=-1, min_child_samples=20,
        min_child_weight=0.001, min_split_gain=0.0, n_estimators=100,
        n_jobs=-1, num_leaves=31, objective=None, random_state=None,
        reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=200000, subsample_freq=1)

In [61]:
pred=lgb.predict(test1)

In [62]:
submissions=pd.DataFrame(columns=['project_id', 'final_status'])
submissions['project_id']=test['project_id']
submissions['final_status']=pred
submissions.to_csv('dsh.csv', index=False)